{% extends "base.html" %}

{% block title %}

{% endblock %}


{% block content %}
    {% for m in info %}
        <table>
            <tr><td>主机名：</td></td><td>{{ m.hostname }}</td></tr>
            <tr><td>状态：</td><td>{{ m.status }}</td></tr>
            <tr><td>CPU型号：</td><td>{{ m.cpu_model }}</td></tr>
            <tr><td>CPU核数：</td><td>{{ m.num_cpus }}</td></tr>
            <tr><td>操作系统：</td><td>{{ m.os }}</td></tr>
            <tr><td>型号：</td><td>{{ m.productname }}</td></tr>
            <tr><td>品牌：</td><td>{{ m.manufacturer }}</td></tr>
            {% for disk in m.disks %}
                <tr><td>磁盘{{ disk.mount }}:</td><td>{{ disk.available }}/{{ disk.total }} </td></tr>
            {% endfor %}
            {% for network in m.interfaces %}
                <tr><td>{{ network.interface }} IP地址： </td><td>{{ network.ipaddr }}</td></tr>
                <tr><td>{{ network.interface }} MAC地址：</td><td>{{ network.hwaddr }}</td></tr>
            {% endfor %}
            <tr>------------------------------------------------------------------------------------------</tr>
        </table>
    {% endfor %}

{% endblock %}

