{% extends "base.html" %}

{% block title %}

{% endblock %}


{% block content %}
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="block">
                <p class="block-heading">离线服务器列表</p>
                <div class="block-body">
                    {% if offline_list %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>主机名</th>
                                <th colspan="3">Actions </th>
                            </tr>
                            </thead>

                            {% for item in offline_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>  {{item}}</td>
                                    <td><a href="{% url "servers.views.server_view" item %}">Show</a> </td>
                                </tr>
                            {% endfor %}
                        </table>

                        <div align="center">
                        {% if offline_list.has_previous %}
                            <a href="?page={{ offline_list.previous_page_number }}">Previous</a>
                        {% endif %}

                        <span class="current">
                        Page {{ offline_list.number }} of {{ offline_list.paginator.num_pages }}.
                    </span>

                        {% if offline_list.has_next %}
                            <a href="?page={{ offline_list.next_page_number }}">Next</a>
                        {% endif %}
                        <span><p>Total:{{ count }}</p></span>
                    {% else %}
                        <div align="center">
                            <strong>一切正常，没有离线服务器</strong>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}