
{% extends "base.html" %}

{#{% block title %} Servers - Edit {% endblock %}#}
{##}
{#{% block heading %} <h1> Servers</h1><h2> Edit </h2> {% endblock %}#}


{% block content %}
     <div class="well">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">编辑服务器信息</a></li>
            <li><a href="#history" data-toggle="tab">修改历史</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">

            <div class="tab-pane active in" id="home">
                <form action="" method="POST"> {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td>{{ device_form.asset.label}}</td><td>{{device_form.asset}}</td>
                            <td>{{ device_form.asset_old.label }}</td><td>{{device_form.asset_old}}</td>
                        </tr>
                        <tr>
                            <td>{{ device_form.district.label }}</td><td>{{device_form.district}}</td>
                            <td>{{ device_form.company.label }}</td><td>{{device_form.company}}</td>
                        </tr>
                        <tr>
                            <td>{{ device_form.type.label }}</td><td>{{ device_form.type}}</td>
                            <td>{{ device_form.subtype.label }}</td><td>{{ device_form.subtype}}</td>
                        </tr>
                        <tr>
                            <td>{{ device_form.status.label }}</td><td>{{device_form.status}}</td>
                            <td>{{ device_form.manufacturer.label }}</td><td>{{device_form.manufacturer}}</td>
                        </tr>
                        <tr>
                            <td>{{ device_form.model.label }}</td><td>{{ device_form.model}}</td>
                            <td>{{ device_form.serialno.label }}</td><td>{{ device_form.serialno}}</td>
                        </tr>
                        <tr>
                            <td>{{ server_form.size.label }}</td><td>{{ server_form.size}}</td>
                            <td>{{ server_form.cpu.label }}</td><td>{{ server_form.cpu}}</td>
                        </tr>
                        <tr>
                            <td>{{ server_form.harddisk.label }}</td><td>{{ server_form.harddisk }}</td>
                            <td>{{ server_form.ram.label }}</td><td>{{ server_form.ram}}</td>

                        </tr>
                        <tr>
                            <td>{{ server_form.os.label }}</td><td>{{ server_form.os}}</td>
                            <td>{{ server_form.building.label }}</td><td>{{ server_form.building}}</td>

                        </tr>
                        <tr>
                            <td>{{ server_form.location.label }}</td><td>{{ server_form.location}}</td>
                            <td>{{ server_form.consignee.label }}</td><td>{{ server_form.consignee}}</td>

                        </tr>
                        <tr>
                            <td>{{ server_form.hostname.label }}</td><td>{{ server_form.hostname}}</td>
                            <td>{{ server_form.dept.label }}</td><td>{{ server_form.dept}}</td>
                        </tr>
                        <tr>
                            <td>{{ server_form.business.label }}</td><td>{{ server_form.business}}</td>
                            <td>{{ server_form.ownername.label }}</td><td>{{ server_form.ownername}}</td>
                        </tr>
                        <tr>
                            <td>{{ maninfo_form.administrator.label }}</td><td>{{ maninfo_form.administrator }}</td>
                            <td>{{ maninfo_form.warehousedate.label }}</td><td>{{ maninfo_form.warehousedate }}</td>
                        </tr>
                        <tr>
                            <td>{{ maninfo_form.receivedate.label }}</td><td>{{ maninfo_form.receivedate }}</td>
                            <td>{{ maninfo_form.warrantyexpirationdate.label }}</td><td>{{ maninfo_form.warrantyexpirationdate }}</td>
                        </tr>
                        <tr>
                            <td>{{ maninfo_form.scrapDate.label }}</td><td>{{ maninfo_form.scrapDate }}</td>
                            <td>{{ maninfo_form.purchase_date.label }}</td><td>{{ maninfo_form.purchase_date }}</td>
                        </tr>
                        <tr>
                            <td>{{ maninfo_form.accounting_date.label }}</td><td>{{ maninfo_form.accounting_date }}</td>
                            <td>{{ maninfo_form.purchase_cost.label }}</td><td>{{ maninfo_form.purchase_cost }}</td>
                        </tr>
                        <tr>
                            <td>{{ maninfo_form.account_cost.label }}</td><td>{{ maninfo_form.account_cost }}</td>
                            <td>{{ maninfo_form.vendor.label }}</td><td>{{ maninfo_form.vendor }}</td>
                        </tr>
                        <tr>
                            <td>{{ maninfo_form.vendor_contacts.label }}</td><td>{{ maninfo_form.vendor_contacts }}</td>
                            <td>{{ maninfo_form.accounting_info.label }}</td><td>{{ maninfo_form.accounting_info }}</td>
                        </tr>
                        <tr>
                            <td>{{ maninfo_form.order_list.label }}</td><td>{{ maninfo_form.order_list }}</td>
                            <td>{{ device_form.changeInfo.label }}</td><td>{{ device_form.changeInfo }}</td>
                        </tr>
                        <tr>
                            <td>{{ device_form.comment.label }}</td><td>{{ device_form.comment }}</td>
                            <td></td><td></td>
                        </tr>
{#                        <tr><td colspan="2" align="right"><input type="submit" value="添加" /></td></tr>#}
                    </table>
                </form>
            </div>

            <div class="tab-pane fade" id="history">
                {% if list_log %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>修改时间</th>
                            <th>修改人</th>
                            <th>修改字段</th>
                            <th>修改前值</th>
                            <th>修改后值</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in list_log %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.mtime }}</td>
                                <td>{{ item.moduser }}</td>
                                <td>{{ item.field }}</td>
                                <td>{{ item.oldvalue }}</td>
                                <td>{{ item.newvalue }}</td>
                                <td>{{ item.comment }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div align="center">
                        <strong>没有相关修改历史</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
