
{% extends "base.html" %}

{#{% block title %} Servers - Edit {% endblock %}#}
{##}
{#{% block heading %} <h1> Status</h1><h2> Edit </h2> {% endblock %}#}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="well">
                <table class="table">
                    <form action="" method="POST"> {% csrf_token %}
                        {{form}}
                        <input type="submit" class="btn btn-primary" value="保存" >
                        <a id="delete" href="#" role="button"  urlink="{% url "assets.views.subtype_del" id %}"><i class="btn btn-danger">删除</i></a>
                        <a id="cancel" href="#" role="button"  urlink="{% url "assets.views.subtype_list"%}"><i id="btn_cancel" class="btn">取消</i></a>
                    </form>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}
