<!DOCTYPE html>
<html lang="en">

<head>
{% include "includes/head.html" %}
</head>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->

{% include "includes/navbar.html" %}

{% include "includes/sidebar-nav.html" %}

{#{% include "includes/content.html" %}#}
<div class="content">
    <div class="header">
        <h1 class="page-title">{{ page_title }}</h1>
    </div>

    <ul class="breadcrumb">
        <li><a href="/index.html/">Home</a> <span class="divider">/</span></li>
        <li class="active">{{ page_title }}</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">
            <div id="summary">
                {% block heading %}
                {% endblock %}
            </div>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            {% include "includes/footer.html" %}
        </div>
    </div>
</div>



{% include "includes/script.html" %}

</body>
</html>


